{:paths ["src"]
 :deps {instaparse/instaparse           {:mvn/version "1.4.12"}
        cheshire/cheshire               {:mvn/version "5.13.0"}
        ;; for the native build..
        org.babashka/cli                {:mvn/version "0.8.58"}
        http-kit/http-kit               {:mvn/version "2.8.0"}
        hiccup/hiccup                   {:mvn/version "2.0.0-RC3"}
        org.clojure/core.async          {:mvn/version "1.6.681"}
        babashka/process                {:mvn/version "0.5.22"}
        babashka/fs                     {:mvn/version "0.5.21"}
        io.github.judepayne/dictim.graph {:git/tag "0.1.5" :git/sha "67f4507"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner 
                               {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :main-opts ["-m" "cognitect.test-runner"]
                  :exec-fn cognitect.test-runner.api/test}
           :build {:deps {io.github.clojure/tools.build {:git/tag "v0.10.0" :git/sha "3a2c484"}}
                   :ns-default build}
           :native {:jvm-opts  ["-Dclojure.compiler.direct-linking=true"]
                    :extra-deps {org.clojure/clojure     {:mvn/version "1.11.3"}
                                 com.github.clj-easy/graal-config-cheshire
                                 {:git/url   "https://github.com/clj-easy/graal-config"
                                  :git/sha   "0dc2862e1b1c9871eef4c306ef77da3610a2bd93"
                                  :deps/root "config/cheshire/cheshire"}
                                 com.github.clj-easy/graal-build-time      {:mvn/version "1.0.5"}}}}}
