{:paths ["src"]
 :deps {org.clojure/clojure             {:mvn/version "1.11.1"}
        instaparse/instaparse           {:mvn/version "1.4.12"}
        org.clojure/data.xml            {:mvn/version "0.0.8"}}}
