{:paths ["src" "cmd"]
 :deps {org.clojure/clojure             {:mvn/version "1.11.1"}
        instaparse/instaparse           {:mvn/version "1.4.12"}
        cheshire/cheshire               {:mvn/version "5.13.0"}
        org.clojure/tools.cli           {:mvn/version "1.1.230"}
        org.babashka/cli                {:mvn/version "0.8.58"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner 
                               {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :main-opts ["-m" "cognitect.test-runner"]
                  :exec-fn cognitect.test-runner.api/test}
           :build {:paths ["resources"]
                   :deps {io.github.clojure/tools.build {:git/tag "v0.10.0" :git/sha "3a2c484"}}
                   :ns-default build}}}
